body {
  padding-top: 108px;
  padding-bottom: 20px;
}

.m-sub-nav {
	background-color: #F7F7F7;
	padding: 0px;
	padding-bottom: 166px;
}



.breadcrumb {
	float: right;
}

.col-md-10 > .row{
	margin: 20px 15px 

}

.m-sub-content h1 {
	margin-top: 0px;
	color: #000;
}


.col-md-10 .col-md-6 {
	padding: 0px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
/*right align*/
  margin-right: -29px;
}

.m-person{
	padding-top: 20px;

}

.list-group-item {
	border: none;
	background-color: #F7F7F7;
}

.m-upload-box {
	width: 70%;
	height: 150px;
	border: 1px;
	background-color: blue;
}

/*input {
  width: 200px;
  height: 100px;
  border-radius: 3px;
  font-weight: 600;
  border-color: transparent;
  font-size: 25px;
  background: hotpink;
  color: #fff;
 cursor: pointer;
}*/

input[type=file] {
  width: 500px;
  height: 40px;
  border-radius: 3px;
  font-weight: 400;
  border-color: transparent;
  font-size: 25px;
  background: gray;
  color: #fff;
  cursor: pointer;	
}

.list-group-item {
    padding: 10px 24px;
 }
    
.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

 }   


.list-group-item:last-child {
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
}

#m-menu a {
	padding: 18px 24px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #8BA5AF;
}

.m-person i {
	color: #8BA5AF;
}

#m-fa {
	color: gray;
	float: right;
	margin-top: 3px;
	opacity: 0.3;
}

div[onclick],
i[onclick] {
	cursor: pointer;
}


/*.media-right,
.media > .pull-right {
  padding-left: 100px;
  margin-left:100px; 
}
*/
/*히스토리 목록 */

.m-history {
	margin: 0px;
}
.m-history {
	border: 1px solid gray;
	padding: 10px;
}

.m-history .col-md-3{
  display: flex;
  justify-content: flex-end;
}


#m-fileopen, #m-fileopen-fin {
	margin:0;
	padding:0;
	list-style: none;
	display: inline;
} 

#m-fileopen li,
#m-fileopen-fin li{
	display:block;
	color: red;
	font-size: 14px;
}

#m-fileopen, #toggle,
#m-fileopen-fin, #toggle-fin {
	display:none;
} 

#toggle:checked + #m-fileopen,
#toggle-fin:checked + #m-fileopen-fin {
	display: inline;
}


