body {
  padding-top: 108px;
  padding-bottom: 0px;
}
/*#m-list-footer {
    position:absolute;
    bottom:0;
}*/
/*상단 서브 메뉴*/
.m-sub-menu {
	background-color: #0F52BB; 
	/*padding: 14px;	*/
	height: 68px;
	font-size: 16px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
/*.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}*/
.navbar-default {
    background-color: #0D47A1;
    border-color: #0D47A1; 
}
.nav-pills>li>a {
    border-radius: 0px;
    padding: 23px 0 23px 0; 
}
.m-menu>li>a {
	color: rgba(255,255,255,0.5);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: white;
    background-color: #1F6DE8;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #0F52BB;
}
/*좌측 서브 메뉴*/
/*.m-sub-nav {
	background-color: #F7F7F7;
	padding: 0px;
	padding-bottom: 166px;
}
*/
/*m-sub-head 서브화면의 타이틀, 환자정보, 탭, breadcrumbs*/
.m-sub-head {
	padding-top: 114px;
}
.m-sub-head > .m-person {
	padding: 8px 0 24px 0;
}
.m-sub-head h1 {
	margin-top: 0px;
	color: #000;
	font-size: 28px;
}
.col-md-10 > .row{
	margin: 20px 15px 
}

.col-md-10 .col-md-6 {
	padding: 0px;
}
.nav-tabs {
	font-size: 16px;
	min-width: 208px; 
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    min-width: 208px;
    text-align: center;
}
.breadcrumb {
  float: right;
  padding: 20px 0px 8px 15px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumb > li > a{
	color: rgba(0, 0, 0, 0.6);
}

.list-group >li{
	padding-top: 0px;
	display: inline;
}

.list-group-item {
	border: none;
	background-color: white;
	text-align: left;
	padding: 10px 40px 10px 0px;
}
.m-person i {
	color: #0D47A1;
}
.m-upload-box {
	width: 100%;
	border: 1px;
	background-color: #F6F9FE ;
	border: 1px solid #1F6DE8;
	border-radius: 4px;
	padding: 42px;
	position: relative;
	min-height: 186px;
	margin-bottom: 68px
}
.m-upload-box > input[type="submit"] {
/*	width: 250px;
	height: 40px;
	color: gray;
	background-color: white;
	border-radius: 3px;*/
	/*float: right;*/
	position: absolute;
	right: 230px;
	bottom: 0;
	display: inline-block;
}
.m-upload-box > input[type="button"] {
/*	width: 250px;
	height: 40px;
	color: gray;
	background-color: white;
	border-radius: 3px;*/
	/*float: right;*/
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
}
/*기본 버튼 스타일*/
.btn-lightblue {
	width: 200px;
	font-size: 16px;
	background-color: #F6F9FE;
	border-color: #1F6DE8;
	padding: 10px 30px 10px 30px;
	color: #1F6DE8;	
	border-radius: 3px;
}
.btn-blue {
	width: 200px;
	font-size: 16px;
	background-color: #1F6DE8;
	border-color: #1F6DE8;
	padding: 10px 30px 10px 30px;
	color: white;	
	border-radius: 3px;
}
.btn-lightgreen {
	width: 200px;
	font-size: 16px;
	background-color: #F8FDF5;
	border-color: #43A047;
	padding: 10px 30px 10px 30px;
	color: #43A047;	
	border-radius: 3px;	
}
.btn-green {
	width: 200px;
	font-size: 16px;
	background-color: #43A047;
	border-color: #43A047;
	padding: 10px 30px 10px 30px;
	color: white;	
	border-radius: 3px;	
}
.btn-lightgray {
	width: 200px;
	font-size: 16px;
	background-color: white;
	border-color: #ccc;
	padding: 10px 30px 10px 30px;
	color: #5D5955;	
	border-radius: 3px;	
}
form > .btn {
	width: 200px;
	font-size: 16px;
	background-color: #F6F9FE;
	border-color: #1F6DE8;
	padding: 10px 30px 10px 30px;
	margin: 42px;
	color: #1F6DE8;
}

#btn-process {
	background-color: #1F6DE8;
	color: white;	
}
#btn-process:hover,
#btn-save:hover,
#btn-process:focus,
#btn-save:focus,
.btn:focus,
.btn.focus {
  color: white;
  background-color: #0D47A1
}

input[type=file] {
  width: 500px;
 /* height: 40px;*/
  padding: 20px;
  border-radius: 3px;
  font-weight: 400;
  border-color: transparent;
  font-size: 14px;
  color: black;
  cursor: pointer;

  /*background-color: gray;	*/
}
input[type="file"] {
    /*display: none;*/
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


    
.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

 }   


.list-group-item:last-child {
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
}

#m-menu a {
	padding: 18px 24px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #8BA5AF;
}



#m-fa {
	color: gray;
	/*float: right;*/
	margin-top: 3px;
	opacity: 0.3;
}

div[onclick],
i[onclick] {
	cursor: pointer;
}


/*.media-right,
.media > .pull-right {
  padding-left: 100px;
  margin-left:100px; 
}
*/
/*히스토리 목록 */
 
.m-history {
	margin: 0 0 30px 0;
	border: 1px solid #cccccc;
	/*height: 98px;*/
	border-radius: 3px;
	height: 100%;
	display: relative;
}
.bg-done {
	background-color: #F8FDF5;
	border-color: #43a047;
}
.bg-yet {
	background-color: #F6F9FE;
	border-color: #1F6DE8;
}
.m-history .col-xs-3,
.m-history .col-md-3{
  display: flex;
  justify-content: flex-end;
  padding: 25px 45px 25px 25px;
/*  margin: 5px 0 5px;*/
}
.m-history .col-xs-7{
  padding: 25px;
}
.m-history .col-xs-7>p{
  color: #939393;
}
.col-xs-7 > h4 {
	color: black;
}
.m-history > .col-xs-2 {
	/*height: 100%;*/
	text-align: center;

}
.m-history > .col-xs-2 > h5 {
	padding: 25px;
/*	margin: 5px;*/
}
#m-fileopen, #m-fileopen-fin {
	margin:0;
	padding:0;
	list-style: none;
	display: inline;
} 

#m-fileopen li,
#m-fileopen-fin li{
	display:block;
	color: black;
	font-size: 15px;
	line-height: 1.9;
}

#m-fileopen, #toggle,
#m-fileopen-fin, #toggle-fin {
	display:none;
} 

#toggle:checked + #m-fileopen,
#toggle-fin:checked + #m-fileopen-fin {
	display: inline;
}

.m-sub-content {
/*	margin-bottom: 80px;*/
}
.m-sub-content .input-group {
	margin-bottom: 12px;
}
.m-sub-content h5 {
	font-size: 16px;
	padding-bottom: 22px;
/*	font-weight: bold;
*/}
.m-sub-content .m-profile-data {
	margin-bottom: 30px;
}
.m-profile {
	padding-top: 80px;
	padding-bottom: 0px;
}
.m-profile-button {
	float: right;
}
.m-profile-data {
	border: 1px solid #cccccc;
	border-radius: 3px;
	/*max-width: 90%*/
}
.m-profile-done {
	border: 1px solid #43A047;	
}
.m-profile-yet {
	border: 1px solid #1F6DE8;	
}
.m-thumb-top {
	height: 7px;
	background-color: #CCCCCC;
	width: 100%;
}
.m-thumb-top-done {
	background-color: #43A047;
}
.m-thumb-top-yet {
	background-color: #1F6DE8;	
}
.m-profile-data > .caption {
	padding: 30px;
}
.m-profile-btn {
	width: 100%;
	margin: 0;
	text-align: center;
	line-height: 3;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}