body {
  padding-top: 108px;
  padding-bottom: 0px;
}
/*#m-list-footer {
    position:absolute;
    bottom:0;
}*/
/*상단 서브 메뉴*/
.m-sub-menu {
	background-color: #0F52BB; 
	/*padding: 14px;	*/
	height: 68px;
	font-size: 16px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
/*.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}*/
.navbar-default {
    background-color: #0D47A1;
    border-color: #0D47A1; 
}
.nav-pills>li>a {
    border-radius: 0px;
    padding: 23px 0 23px 0; 
}
.m-menu>li>a {
	color: rgba(255,255,255,0.5);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: white;
    background-color: #1F6DE8;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #0F52BB;
}
/*좌측 서브 메뉴*/
/*.m-sub-nav {
	background-color: #F7F7F7;
	padding: 0px;
	padding-bottom: 166px;
}
*/
/*m-sub-head 서브화면의 타이틀, 환자정보, 탭, breadcrumbs*/
.m-sub-head {
	padding-top: 100px;
}
.m-sub-head > .m-person {
	padding: 8px 0 14px 0;
}
.m-sub-head h1 {
	margin-top: 0px;
	color: #000;
}


.breadcrumb {
	float: right;
}

.col-md-10 > .row{
	margin: 20px 15px 

}



.col-md-10 .col-md-6 {
	padding: 0px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
/*right align*/
  margin-right: -29px;
}


.list-group >li{
	padding-top: 0px;
	display: inline;
}

.list-group-item {
	border: none;
	background-color: white;
	text-align: left;
	padding: 10px 40px 10px 0px;
}
.m-person i {
	color: #0D47A1;
}
.m-upload-box {
	width: 83%;
	height: 120px;
	border: 1px;
	background-color: ;
	border: 1px solid #dddddd;
}
.m-upload-box > input[type="submit"] {
/*	width: 250px;
	height: 40px;
	color: gray;
	background-color: white;
	border-radius: 3px;*/
	float: right;
}
.btn {
	width: 125px;
	font-size: 14px;
	background-color: gray;
	border-color: none;
	padding: 10px 30px 10px 30px;
	margin: 10px;
}
input[type=file] {
  width: 500px;
 /* height: 40px;*/
  padding: 20px;
  border-radius: 3px;
  font-weight: 400;
  border-color: transparent;
  font-size: 14px;
  color: black;
  cursor: pointer;
  /*background-color: gray;	*/
}
input[type="file"] {
    /*display: none;*/
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


    
.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

 }   


.list-group-item:last-child {
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;	
}

#m-menu a {
	padding: 18px 24px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #8BA5AF;
}



#m-fa {
	color: gray;
	/*float: right;*/
	margin-top: 3px;
	opacity: 0.3;
}

div[onclick],
i[onclick] {
	cursor: pointer;
}


/*.media-right,
.media > .pull-right {
  padding-left: 100px;
  margin-left:100px; 
}
*/
/*히스토리 목록 */

.m-history {
	margin: 0px;
	border: 1px solid gray;
	padding: 10px;
}

.m-history .col-md-3{
  display: flex;
  justify-content: flex-end;
}

#m-fileopen, #m-fileopen-fin {
	margin:0;
	padding:0;
	list-style: none;
	display: inline;
} 

#m-fileopen li,
#m-fileopen-fin li{
	display:block;
	color: red;
	font-size: 14px;
}

#m-fileopen, #toggle,
#m-fileopen-fin, #toggle-fin {
	display:none;
} 

#toggle:checked + #m-fileopen,
#toggle-fin:checked + #m-fileopen-fin {
	display: inline;
}

.m-sub-content {
	margin-bottom: 80px;
}
